@use "../abstract/mixin" as mixin;
@use "../abstract/variables" as var;
@use "../components/btn";
.home {
  padding: 50px 0;
  background-color: var.$dark-blue;
  &__title {
    max-width: 624px;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 68px;
    color: #ffffff;
    margin-bottom: 24px;
  }
  &__text {
    max-width: 528px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    opacity: 0.6;
    margin-bottom: 32px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .row-bottom {
    padding-top: 72px;
    div {
      text-align: center;
    }
  }
  h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: var.$secondary-color;
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var.$secondary-color;
      opacity: 0.6;
    }
  }
}
.about {
  padding: 50px 0;
  background-color: #fefefe;
  .left-img {
    position: absolute;
    right: 0;
    top: 0;
  }
  h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.87;
    margin-bottom: 16px;
  }
  h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: var.$dark-blue;
    margin-bottom: 48px;
  }
  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: var.$dark-blue;
    margin-top: 43px;
    margin-bottom: 16px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var.$medium-grey;
  }
  &-bottom {
    margin-top: 48px;
    &-index {
      font-weight: 600;
      font-size: 36px;
      line-height: 36px;
      color: var.$dark-blue;
      margin-bottom: 8px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }
  }
}
.expertise {
  padding: 50px 0;
  background-color: var.$bg-navy;
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__top {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.87;
    margin-bottom: 16px;
  }
  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: var.$dark-blue;
    margin-bottom: 24px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var.$medium-grey;
  }
  &__card {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 32px;

    background-color: #ffffff;
    transition: 0.4s;
    &-left {
      padding-right: 18px;
    }
    h5 {
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      color: #000000;
      margin-bottom: 8px;
    }
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #5d5f6d;
    }
    &:hover {
      .expertise__hover {
        display: block;
      }
    }
  }
  &__hover {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.services {
  padding: 50px 0;
  background-color: var.$pink;
  .expertise__title {
    max-width: 700px !important;
  }
  &__card {
    background-color: #ffffff;
    padding: 48px 31px 48px 48px;
    h5 {
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      color: #000000;
      margin-top: 16px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var.$medium-grey;
      margin-top: 8px;
      margin-bottom: 24px;
    }
    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #444cfc;
      opacity: 0.87;
    }
  }
}
.process {
  padding: 50px 0;
  background-color: #fefefe;
  .expertise__title {
    max-width: 700px;
  }
  .expertise__text {
    max-width: 600px;
  }
  .expertise__card {
    position: relative;
    margin-left: 0;
    border: 1px solid rgba(35, 37, 54, 0.17);
  }
  &__img {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
  &-num {
    position: absolute;
    top: 16px;
    right: 16px;
    width: auto;
  }
}
.customers {
  padding: 50px 0;
  background-color: var.$grey;
  &__title {
    max-width: 492px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: var.$dark-blue;
    margin: 16px 0;
  }
  &__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var.$dark-blue;
    margin-bottom: 16px;
  }
  &__text {
    max-width: 492px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var.$dark-blue;
    opacity: 0.87;
    margin-bottom: 24px;
  }
  &__right {
    .carousel-control-next,
    .carousel-control-prev {
      bottom: 0;
      width: 40px;
      height: 40px;
      top: auto;
      background-color: #000000 !important;
    }
    &-card {
      padding: 48px 69px 42px 41px;
      background-color: var.$secondary-color;
      h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: var.$dark-blue;
        opacity: 0.87;
        margin-bottom: 30px;
      }
    }
    .quote {
      top: -15px;
      right: 40px;
    }
    .right {
      left: 0;
      top: 0;
      height: 100%;
    }
  }
}
.news {
  padding: 50px 0;
  background-color: var.$bg-navy;
  &__top {
    h1 {
      font-weight: 600;
      font-size: 48px;
      line-height: 58px;
      color: var.$dark-blue;
      margin-top: 20px;
    }
  }
  &__bottom {
    margin-top: 24px;
  }
  &__card {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 24px;
    &-left {
      padding: 32px;
      background-color: var.$secondary-color;
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var.$dark-blue;
        opacity: 0.6;
        margin-bottom: 8px;
      }
      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: var.$dark-blue;
        margin-bottom: 24px;
      }
    }
  }
}
.updates {
  padding: 50px 0;
  .container {
    background-color: var.$light-blue;
    position: relative;
    padding: 96px !important;
    .left {
      position: absolute;
      top: 0;
      left: 0;
    }
    .news-shape {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .row {
    align-items: center;
  }
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 13px;
  }
  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #ffffff;
  }
  input {
    width: 100%;
    background-color: var.$secondary-color;
    padding: 20px 30px;
    border: none;
    ::placeholder {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      color: var.$dark-blue;
      opacity: 0.4;
    }
  }
}
@media (min-width: 768px) {
  main {
    section {
      padding: 96px 0 !important;
    }
  }
}
@media (min-width: 1024px) {
  .expertise {
    &__card {
      margin-left: 100px;
    }
  }
}
