$dark-blue:#232536;
$light-blue:#444CFC;
$bg-light:#E5E5E5;
$bg-navy:#ECF8F9;
$medium-grey:#5D5F6D;
$secondary-color:#fff;
$pink:#FFE6D2;
$button-bg:linear-gradient(180deg, #444CFC 0%, #444CFC 100%);
$grey:#F9F9FF;
$lighter-blue:#666DFF;
$yellow:#FFD3AF;